<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="File" fileName="/var/log/webapp.log">
            <JsonLayout complete="false" compact="true">
                <KeyValuePair key="timestamp" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}"/>
                <KeyValuePair key="thread" value="%t"/>
                <KeyValuePair key="level" value="%level"/>
                <KeyValuePair key="logger" value="%logger"/>
                <KeyValuePair key="message" value="%message"/>
            </JsonLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="true">
                <KeyValuePair key="timestamp" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}"/>
                <KeyValuePair key="thread" value="%t"/>
                <KeyValuePair key="level" value="%level"/>
                <KeyValuePair key="logger" value="%logger"/>
                <KeyValuePair key="message" value="%message"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
